<section id="torch-toolbar">
  <div class="torch-container">
    <%= if not is_nil(@user.argyle_user_id) do %>
      <%= link "Sync Argyle ↻", to: Routes.admin_user_path(@conn, :sync_argyle, @user), method: :post %>
    <% end %>
    <%= if @user.deleted do %>
      <%= link "Purge 🔥", to: Routes.admin_user_path(@conn, :burninate, @user), method: :post, data: [confirm: "This will completely remove the user from the database. Are you sure?"] %>
    <% end %>
    <%= if not @user.deleted do %>
      <%= link "Mark for Purge", to: Routes.admin_user_path(@conn, :delete, @user), method: :delete, data: [confirm: "This will soft-delete the user, disabling their account. Are you sure?"] %>
    <% end%>
    <%= link "Edit", to: Routes.admin_user_path(@conn, :edit, @user), class: "torch-button" %>
    <%= link "Back", to: Routes.admin_user_path(@conn, :index), class: "torch-button" %>
  </div>
</section>

<section id="torch-header-and-content">
  <div class="torch-container">
    <div class="header">
      <h3>User Details</h3>
    </div>
    <ul>
      <li>
        <div class="torch-show-label">ID:</div>
        <div class="torch-show-data"><%= @user.id %></div>
      </li>
      <li>
        <div class="torch-show-label">Email:</div>
        <div class="torch-show-data"><%= @user.email %></div>
      </li>
      <li>
        <div class="torch-show-label">First name:</div>
        <div class="torch-show-data"><%= @user.first_name %></div>
      </li>
      <li>
        <div class="torch-show-label">Last name:</div>
        <div class="torch-show-data"><%= @user.last_name %></div>
      </li>
      <li>
        <div class="torch-show-label">App Channel:</div>
        <div class="torch-show-data"><%= @user.is_beta %></div>
      </li>
      <li>
        <div class="torch-show-label">Focus group:</div>
        <div class="torch-show-data"><%= @user.focus_group %></div>
      </li>
      <li>
        <div class="torch-show-label">Role:</div>
        <div class="torch-show-data"><%= @user.role %></div>
      </li>
      <li>
        <div class="torch-show-label">Active?:</div>
        <div class="torch-show-data"><%= if @user.deleted, do: "❌", else: "✅" %></div>
      </li>
    </ul>
    <ul>
      <li>
        <div class="torch-show-label">Argyle User ID:</div>
        <div class="torch-show-data">
          <%= if is_nil(@user.argyle_user_id) do %>
            unlinked
          <% else %>
            <a href="https://console.argyle.com/users/<%= @user.argyle_user_id %>">
              <%= @user.argyle_user_id %>
            </a>
          <% end %>
        </div>
      </li>
      <li>
        <div class="torch-show-label">Vehicle make argyle:</div>
        <div class="torch-show-data"><%= @user.vehicle_make_argyle %></div>
      </li>
      <li>
        <div class="torch-show-label">Vehicle model argyle:</div>
        <div class="torch-show-data"><%= @user.vehicle_model_argyle %></div>
      </li>
      <li>
        <div class="torch-show-label">Vehicle year argyle:</div>
        <div class="torch-show-data"><%= @user.vehicle_year_argyle %></div>
      </li>
      <li>
        <div class="torch-show-label">Country argyle:</div>
        <div class="torch-show-data"><%= @user.country_argyle %></div>
      </li>
      <li>
        <div class="torch-show-label">Postal code argyle:</div>
        <div class="torch-show-data"><%= @user.postal_code_argyle %></div>
      </li>
      <li>
        <div class="torch-show-label">Timezone argyle:</div>
        <div class="torch-show-data"><%= @user.timezone_argyle %></div>
      </li>
    </ul>
    <ul>
      <li>
        <div class="torch-show-label">Source:</div>
        <div class="torch-show-data"><%= @user.source %></div>
      </li>
      <li>
        <div class="torch-show-label">Phone number:</div>
        <div class="torch-show-data"><%= @user.phone_number %></div>
      </li>
      <li>
        <div class="torch-show-label">Vehicle make:</div>
        <div class="torch-show-data"><%= @user.vehicle_make %></div>
      </li>
      <li>
        <div class="torch-show-label">Vehicle model:</div>
        <div class="torch-show-data"><%= @user.vehicle_model %></div>
      </li>
      <li>
        <div class="torch-show-label">Vehicle type:</div>
        <div class="torch-show-data"><%= @user.vehicle_type %></div>
      </li>
      <li>
        <div class="torch-show-label">Vehicle year:</div>
        <div class="torch-show-data"><%= @user.vehicle_year %></div>
      </li>
      <li>
        <div class="torch-show-label">Contact permission:</div>
        <div class="torch-show-data"><%= @user.contact_permission %></div>
      </li>
      <li>
        <div class="torch-show-label">Device platform:</div>
        <div class="torch-show-data"><%= @user.device_platform %></div>
      </li>
      <li>
        <div class="torch-show-label">Engine type:</div>
        <div class="torch-show-data"><%= @user.engine_type %></div>
      </li>
      <li>
        <div class="torch-show-label">Country:</div>
        <div class="torch-show-data"><%= @user.country %></div>
      </li>
      <li>
        <div class="torch-show-label">Postal code:</div>
        <div class="torch-show-data"><%= @user.postal_code %></div>
      </li>
      <li>
        <div class="torch-show-label">Car ownership:</div>
        <div class="torch-show-data"><%= @user.car_ownership %></div>
      </li>
      <li>
        <div class="torch-show-label">Timezone:</div>
        <div class="torch-show-data"><%= @user.timezone %></div>
      </li>
      <li>
        <div class="torch-show-label">Timezone device:</div>
        <div class="torch-show-data"><%= @user.timezone_device %></div>
      </li>
    </ul>
  </div>
</section>
