<html>
  <head>
    <title>Admin</title>
    <!-- Uncomment to just use the bare bones torch styles rather than the theme -->
    <!--<link rel="stylesheet" href="<%= Routes.static_path(@conn, "/torch/base.css") %>">-->
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/torch/theme.css") %>">
  </head>

  <body class="<%= Torch.PageView.body_classes(@conn) %>">
    <header>
      <section id="torch-account-info">
        <div class="torch-container">
          <a href="/"><%= @conn.assigns.user.email %></a>
          <%= link "Logout", to: Routes.admin_session_path(@conn, :logout), method: :delete %>
        </div>
      </section>

      <section id="torch-nav">
        <div class="torch-container">
          <div class="torch-logo">
            <a href="/">
              <h3>Driver's Seat Coop</h3>
            </a>
          </div>
          <nav class="torch-nav">
            <%= link "Terms", to: Routes.admin_terms_path(@conn, :index) %>
            <%= link "Research Groups", to: Routes.admin_research_group_path(@conn, :index) %>
            <%= link "Users", to: Routes.admin_user_path(@conn, :index) %>
            <%= link "Oban", to: Routes.admin_oban_job_path(@conn, :index) %>
          </nav>
        </div>
      </section>
    </header>

    <%= Torch.FlashView.render("_flash_messages.html", assigns) %>
    <%= @inner_content %>
    <script src="<%= Routes.static_path(@conn, "/torch/torch.js") %>"></script>
  </body>
</html>
